<section class="container">
  <div class="row mt-3">
    <div class="col-sm-7">
      <div class="header-text">
        <h5 class="text-danger">WELCOME</h5>
        <h1 class="header-subtitle">Travel within your means <br> and save for your next trip</h1>
        <input type="search" class="header-search-input" placeholder="Where to?"/>
        <input type="submit" class="header-search-submit" value="GO"/>
      </div>
    </div>
    <div class="col-sm-5">
      <img src="../../../../assets/images/header.png" class="img-fluid">
    </div>
  </div>
</section>

<section class="plans-section">

  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-5">
        <h2 class="text-center text-safiri text-bold">Travel Packages</h2>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <img src="../../../../assets/images/package1.png" class="img-fluid">
        <div class="package-details mt-3">
          <h5 class="text-bold">$1,000 - $2,000</h5>
          <p>Flight: $873</p>
          <p>Hotel: $242 (per night)</p>
          <p>Food: $43 (per meal)</p>
          <p>Miscellanous: $21 (Airtime/data, fees)</p>
          <button class="btn btn-outline-danger">Start saving</button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../../../assets/images/package2.png" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="../../../../assets/images/package3.png" class="img-fluid">
      </div>
    </div>
  </div>

</section>
