<section class="header-section pb-5">
  <div class="container">
    <div class="row mt-3 pd-4">
      <div class="col-sm-7">
        <div class="header-text">
          <h1 class="header-title">Save for your next trip <br>and travel within your <br>means</h1>
          <p class="header-subtitle">The night is dark and full of terrors. The winds of Winter. What is dead may never die. And now his watch is ended</p>
        </div>
      </div>
      <div class="col-sm-5">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row py-3 px-4">
                <div class="col-sm-3 header-form">
                  <label class="text-bold">From:</label>
                  <br>
                  <input type="text" class="mt-2" placeholder="Select your location">
                </div>
                <div class="col-sm-3 header-form">
                  <label class="text-bold">To:</label>
                  <br>
                  <input type="text" class="mt-2" placeholder="Select your destination">
                </div>
                <div class="col-sm-2 header-form">
                  <label class="text-bold">Date:</label>
                  <br>
                  <input type="datetime" class="mt-2" placeholder="mm-dd-yyyy">
                </div>
                <div class="col-sm-3  header-form" style="margin-left: 50px;">
                  <label for="formControlRange" class="text-bold">Max Price:</label>
                   <br>
                  <input type="range" class="mt-2">
                </div>
                <div class="col-sm-1 mt-4" style="margin-left: -50px;">
                  <button class="btn btn-primary btn-block">Search</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5 pb-5">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-sm-6">
        <img src="../../../../assets/images/about.png">
      </div>
      <div class="col-sm-6 pt-5 px-5">
        <h2 class="text-bold mt-4">Embark on budget friendly trips and carry out cost effective transaction</h2>
        <p>
          Reef sails strike colors code of conduct parley sloop yardarm square-rigged mizzen loaded to the gunwalls keel. Bilge rat scuttle gangway heave down piracy nipper pirate mizzen topmast deadlights. Aft case shot lugsail Gold Road scourge of the seven seas mutiny skysail reef bowsprit Admiral of the Black.
        </p>
        <button class="btn btn-primary">GET STARTED</button>
      </div>
    </div>
  </div>
</section>

<section class="plans-section pb-5">

  <div class="container">
    <div class="row">
      <div class="col-sm-8 mt-5">
        <h2 class="text-bold">Available Travel Packages</h2>
      </div>
      <div class="col-sm-4 mt-5">
        <h5 class="text-right">See More</h5>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 plans pb-3">
        <img src="../../../../assets/images/package1.png" class="img-fluid">
        <div class="package-details mt-3">
          <div class="row">
            <div class="col-sm-6">
              <h5 class="text-bold">Kenya</h5>
            </div>
            <div class="col-sm-6">
              <h5 class="text-right text-bold text-danger">$1,500</h5>
            </div>
          </div>
          <p><i class="fa fa-plane" aria-hidden="true"></i> Flight: $873 (2-way)</p>
          <p><i class="fa fa-bed" aria-hidden="true"></i>
            Hotel: $242 (per night)</p>
          <p><i class="fa fa-cutlery" aria-hidden="true"></i>
            Food: $43 (per meal)</p>
          <button class="btn btn-outline-primary mt-3">SELECT</button>
        </div>
      </div>
      <div class="col-md-4 plans pb-3">
        <img src="../../../../assets/images/package2.png" class="img-fluid">
        <div class="package-details mt-3">
          <div class="row">
            <div class="col-sm-6">
              <h5 class="text-bold">Ghana</h5>
            </div>
            <div class="col-sm-6">
              <h5 class="text-right text-bold text-danger">$1,500</h5>
            </div>
          </div>
          <p><i class="fa fa-plane" aria-hidden="true"></i> Flight: $873 (2-way)</p>
          <p><i class="fa fa-bed" aria-hidden="true"></i>
            Hotel: $242 (per night)</p>
          <p><i class="fa fa-cutlery" aria-hidden="true"></i>
            Food: $43 (per meal)</p>
          <button class="btn btn-outline-primary mt-3">SELECT</button>
        </div>
      </div>
      <div class="col-md-4 plans pb-3">
        <img src="../../../../assets/images/package3.png" class="img-fluid">
        <div class="package-details mt-3">
          <div class="row">
            <div class="col-sm-6">
              <h5 class="text-bold">Nigeria</h5>
            </div>
            <div class="col-sm-6">
              <h5 class="text-right text-bold text-danger">$1,500</h5>
            </div>
          </div>
          <p><i class="fa fa-plane" aria-hidden="true"></i> Flight: $873 (2-way)</p>
          <p><i class="fa fa-bed" aria-hidden="true"></i>
            Hotel: $242 (per night)</p>
          <p><i class="fa fa-cutlery" aria-hidden="true"></i>
            Food: $43 (per meal)</p>
          <button class="btn btn-outline-primary mt-3">SELECT</button>
        </div>
      </div>
    </div>
  </div>

</section>
