.section-footer{
  background-color: #222428;
  color: #fff;
}

.navbar-brand {
  color: #0692C4;
}

p {
  color: #fff;
}

ul{
  list-style: none;
  margin-left: -30px;
}

li a{
  color: #fff;
  text-decoration: none;
}
