<section class="section-footer">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-logo">
          <a class="navbar-brand" href="#" routerLink="/home">
            <img src="../../../assets/images/Vector.png" alt="Logo">
            Safiri
          </a>
          <p class="mt-3">
            The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <h6>Quick Links</h6>
        <ul class="mt-3">
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Savings</a>
          </li>
          <li>
            <a href="#">Account</a>
          </li>
          <li>
            <a href="#">Dashboard</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Help</h6>
        <ul class="mt-3">
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">FAQs</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Follow Us</h6>
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        &nbsp;
        &nbsp;
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        &nbsp;
        &nbsp;
        <i class="fa fa-instagram" aria-hidden="true"></i>

      </div>
    </div>
  </div>
</section>
